venv/
MLOPS_PROJECT_3.egg-info/
credentials/
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
logs/
tests/
plugins/
include/
.astro/